<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

<servlet>
    <servlet-name>com.objectpartners.buesing.sampleApplication.SampleApplication SampleApplicationService</servlet-name>
    <servlet-class>com.objectpartners.buesing.sample.server.SampleApplicationServiceImpl</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>com.objectpartners.buesing.sampleApplication.SampleApplication SampleApplicationService</servlet-name>
        <url-pattern>/SampleApplication/SampleApplicationService</url-pattern>
    </servlet-mapping>
</web-app>
